/* Defines CSS for header, navigation */
/* Header & Navigation section */
 header {
    background-color: #fff;
    width: 100%;
    height: 85px;
    padding: 0.5em 6.25em;
    margin: 12px 0px;
    /* display: flex; */
  }

  .navbar-content {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .nav-links > a {
    color: #4a4d50;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
  }
  
  .header-button {
    color: white;
    border-radius: 8px;
    border: none;
    background: var(
      --Gradient,
      linear-gradient(
        122deg,
        #f9c8bf 3.72%,
        #f87c61 19.56%,
        #ab26f8 84.21%,
        #d75efc 100.63%
      )
    );
    padding: 12px 20px 12px 20px;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  
  .navbar-content > img {
    visibility: hidden;
  }

  /* Mobile and tablet view */
  @media (max-width: 900px) {
    .navbar-content{
        width: 100%;
    }

    
  }

  @media (max-width: 1100px) {
    
    .navbar-content > img {
      width: 35px;
      height: 35px;
      visibility: visible;
    }
    .nav-links {
      display: none;
    }
  }

  