 /* Hero Section */
  
 .frame105 {
    max-width: 1254px;
    min-width: 350px;
    height: 620px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .frame6 {
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2.625em;
  }
  


  .frame38 {
    width: 76%;
    height: 44px;
    border-radius: 88px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  
  .frame38 h3 {
    color: #5f6368;
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
  }
  
  .frame36{
  display: flex;
  gap: 18px;
  
  
  }

  .hero-button {
    color: white;
    width: 8.125em;
    height: 2.6875em;
    border-radius: 8px;
    border: none;
    background: var(
      --Gradient,
      linear-gradient(
        122deg,
        #f9c8bf 3.72%,
        #f87c61 19.56%,
        #ab26f8 84.21%,
        #d75efc 100.63%
      )
    );
    padding: 12px 20px 12px 20px;
    font-family: Inter;
    /* width: 130px; */
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  
  /* @media(max-width:900px){
    .hero-button{font-size: 14px !important;}
  } */

  
  .introduction-image {
    width: 50%;
    height: 100%;
    flex: 1;
  }
  
  .introduction-image > img{
    width: 100%;
    height: 100%;
  }
  
  /* Mobile View */
  @media (max-width: 900px) {

    .frame105 {
      /* flex-direction: column; */
      gap: 10px;
      height: auto !important;
  
    }
  
    .frame38{
      flex-direction: column;
      width: 100%;
      gap: 0px;
    }
    
  
    
  }
  @media (max-width: 600px) {
    /* .frame105{
         flex-direction: column;
        gap: 10px;
        height: auto!important;; */
    

    .frame38{
        border-radius:9px;
        width:100%;
        font-size:20px;
    }

    .frame36{
        gap: 4px;
    }
  }