/**
 * Stylesheet for website layout and components.
 * 
 * Sets up global styles like fonts, resets margins/padding, etc. 
 * Defines CSS for hero sections, and media queries.
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
  }
  
  body {
    background-color: #f8f8f8;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 12px 8px 0px 8px;
  }
  
 
  
  
  
  
  
 
  